<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="css/index.css"></link>
</head>
<body>
    <div  class="container">
        <div class="content">
        <h1>Error in Login</h1>
        <button id="relogin-btn">Relogin</button>
        </div>
    </div>
     <script>
      const reLoginBtn = document.getElementById("relogin-btn");
      reLoginBtn.addEventListener("click",function(){
      window.location.href="/login"; });
    </script>
</body>
</html>