<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task-1</title>
    <link rel="stylesheet" href="css/index.css"></link>
  </head>
  <body>
    <div class="container">
      <h1>Task-1</h1>
      <button id="signup-btn">Signup</button>
      <button id="login-btn">Login</button>
    </div>
    <script>
      const signupBtn = document.getElementById("signup-btn");
      signupBtn.addEventListener("click",function(){
      window.location.href="/signup"; });
      
      const loginBtn = document.getElementById("login-btn");
      loginBtn.addEventListener("click",function(){
      window.location.href="/login"; });
    </script>
  </body>
</html>