<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task-1</title>
    {{! <script src="./hd.js" type="text/javascript"></script> }}
  </head>
  <body>
    <h1>Welcome Chirran</h1>
    <button id="signup-btn">Signup</button>
    <button id="login-btn">Login</button>
    <script>
      const signupBtn = document.getElementById("signup-btn");
      signupBtn.addEventListener("click",function(){
      window.location.href="/signup"; });
      
      const loginBtn = document.getElementById("login-btn");
      loginBtn.addEventListener("click",function(){
      window.location.href="/login"; });
    </script>
  </body>
</html>